/* -- GENERAL -- */

/* BODY/WIDTH */

body{
    color: white;
    background-color: rgb(56, 56, 56);
}
.container{
    max-width: 700px;
}
header{
    max-width: 700px;
}
nav{
    background-color: white;
}
footer{
    max-width: 700px;
}

/* LIST */

ul{
    list-style: none;
}
li{
    margin-bottom: 5px;
}
h2{
    margin-top: 10px;
}
h4{
    margin-top: 10px;
    font-size: 18px;
}
p{
    margin-top: 10px;
}

/* -- HEADER -- */

#logo{
    margin: 60px auto;
    max-width: 150px;
}

/* -- MAIN -- */

.blockinfo{
    background-color: rgb(41, 44, 49);
}
#horaires{
    text-align: center;
}
#contact{
    margin-top: 53px;
}
.aligncenter{
    text-align: center;
}
.h-200{
    background-color: rgb(27, 29, 32);
    height: 200px;
}
.h-350{
    height: 350px;
}
.maps{
    height: 400px;
    opacity: 90%;
}
#menu{
    color: black;
}
.ingredients{
    margin-top: -10px;
    font-size: 13px;
    opacity: 70%;
}

/* CAROUSEL */

.carousel-inner{
    background-color: white;
    max-height: 300px;
}
video{
    width: auto;
    height: 500px;
    object-fit: contain;
}

/* ACCORDION */

.accordion{
    width: 700px;
}
.accordion-item{
    background-color: rgb(67, 66, 71);
    border-radius: 0 !important;
    border: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.accordion-item:last-of-type .accordion-button.collapsed, .accordion-item:first-of-type .accordion-button.collapsed{
    border-radius: 0;
}

/* -- SOCIAL MEDIA -- */

.socialmedia{
    background-color: rgb(230, 230, 230);
}
#instagram, #facebook, #twitter{
    padding: 10px;
    font-size: 22px;
}

/* -- FOOTER -- */

#notice{
    color: white;
    text-decoration: none;
    margin: 20px auto;
}
.black{
    color: black;
}

/* -- SCROLL BUTTON -- */
.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    border-radius: 50%;
    background-color: hsla(5, 76%, 62%, .8)
}

#toTopBtn:hover{
    transition: 0.7s;
    background-color: rgba(202, 69, 57, 0.8)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}
